@import '_colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 190vh;
}
.Header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 64px;
}

.Header2 {
    position: fixed;
    z-index: 10;
    width: 100vw; 
}
body {
    width: 100vw;
    overflow-x: hidden;
    // background: rgba(217,217,217, 0.8);
    // background: #f1f1f1;
    color: rgba(38,41,44,1);
    min-height: 90vh;
}
body a {
    text-decoration: none !important;
}
html {
    overflow-x: hidden;
}
nav {
    height: 64px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;

}
.navMain {
    background: $primaryColor;
    position: relative;
    z-index: 1000;
}
.navMain {
    background: darken(rgb(217,217,217),5%);
    position: relative;
    z-index: 1000;
}
.middleMenu {
    width: 45%;
    display: flex;
}
.leftMenu{
    margin-left: 1%;
    width: 19%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.SiteTitle {
    text-decoration: none;
    margin-left: 10%;
    color: $accentColor;
}
.SiteTitle2 {
    color: $primaryColor
}
.hamburger {
    width: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upLine, .middleLine, .downLine {
    display: flex;
    width: 100%;
    height: 3px;
    margin: 3px;   
}


.upLeft {
    display: flex;
    background: $accentColor;
    width: 20%;
    height: 3px;
    justify-content: center;
    align-items: center;
}
.upRight {
    display: flex;
    background: $accentColor;
    width: 60%;
    height: 3px; 
    justify-content: center;
    align-items: center;
}

.upMiddle {
    width: 20%;
    height: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}
@keyframes startAnimLeft {
    0%{width: 20%}
    100%{width: 60%}
}

@keyframes startAnimRight{
    0%{width: 60%}
    100%{width: 20%}
}

@keyframes startAnim2Left {
    0%{width: 60%}
    100%{width: 20%}
}
@keyframes startAnim2Right {
    0%{width: 20%}
    100%{width: 60%}
}

.upLeftAnim { 
    animation: startAnimLeft 0.7s linear forwards;
}
.upRightAnim {
    animation: startAnimRight 0.7s linear forwards;
}
.middleLeftAnim {
    animation: startAnim2Left 0.7s linear forwards;
}
.middleRightAnim {
    animation: startAnim2Right 0.7s linear forwards;
}
.middleLeft {
    display: flex;
    background: $accentColor;
    width: 60%;
    height: 3px;
    justify-content: center;
    align-items: center;
}
.middleRight {
    display: flex;
    background: $accentColor;
    width: 20%;
    height: 3px; 
    justify-content: center;
    align-items: center;
}
.middleMiddle {
    width: 20%;
    height: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: red;
}
.rightMenu{
    margin-right: 1%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
ul {
    display: flex;
    color: #d9d9d9;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    
}
ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}
ul div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12px;  
}


.Link {
    text-decoration: none;
    color: #d9d9d9;
    &:hover {
        color: beige;
    }
}
.Link2 {
    color: #272727;
    &:hover {
        color: $primaryColor;
    }
}
.active {
    color: $primaryColor;
    font-weight: 400;
} 
.active2 {
    color: $accentColor;
    font-weight: 400;
}
.Button {
    cursor: pointer;
    height: 30px;
    margin: 0 20px 0 20px;
    padding: 5px;
    background: #d9d9d9;
    color: #252525;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}
.Button:hover {
    background: lighten(#d9d9d9, 10%)
}
.Button2 {
    cursor: pointer;
    background: #252525;
    color: #d9d9d9;
    border: 1px solid $primaryColor;
}
.Button2:hover {
    background: darken(#252525, 10%)
}

.HomeFace {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.hamburgerBig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    height: 330px;
    flex-direction: column;
}
.hamburgerBig > div > div {
    height: 10px;
}

@media (max-width: 999px){
  

}                                                                                                                                                                                                                                                                                   
@media (min-width: 1000px){

}

// nowe
.subnav-container {
    width: 90vw;
    display: flex;
    justify-content: center;
}

.menuItem-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 60px;
    background:rgba(217,217,217, 0.8);
    border: 1px solid #808080;
    border-radius: 5px;
    margin-top: 20px;
}
.menuItem {
    color: #252525;
    letter-spacing: 0.8rem;
}
.menuItem:active, .menuItem:visited {
    color: #252525;
}
.menuItem:hover {
    color: #737373;
}
.menuItem-hidden {
    display: none;
}
.bonmot {
    margin: 15px 10px 10px 30px
}
.blinking {
    animation: blink 1s infinite step-start;
}
@keyframes blink {
    50% { opacity: 0 }
}
.line-below-header {
    margin-top: 20px;
    width: 100vw;
    height: 1px;
    background: grey;
}